// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Gilroy-Medium", "Helvetica", "sans-serif";
$headers-font: "Gilroy-Medium", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
font-family: 'Gilroy';
src: url('Gilroy/Gilroy-Regular.ttf') format('truetype');
src: url('Gilroy/Gilroy-Bold.ttf') format('truetype');
src: url('Gilroy/Gilroy-Light.ttf') format('truetype');
src: url('Gilroy/Gilroy-Medium.ttf') format('truetype');
src: url('Gilroy/Gilroy-Heavy.ttf') format('truetype');
}
