.progress-bar-line{
  height: 10px;
  margin-top: 0;
  position: relative;
}

.progress-line {
  /* transition: width 200ms ease-in */
  height: 100%;
  background-size: 12000px 1px;
  background-image: url('http://monosnap.com/image/mp0hB7ZLP9c0967wBx6p4pDjujqzhP.png');
}

.progress-overlay {
  position: absolute;
  height: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 50%;
}
