.missions-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 32px 32px;
  margin-bottom: 120px;
}

.mission-card {
  background-color: #222228;
  width: 280px;
  border-radius: 15px;
  padding: 20px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  h5 {
    font-family: 'Gilroy-Medium';
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 0;
  }
  h4 {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 0;
  }
  p {
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 12px;
  }
}

.add-mission {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF3656;
    font-family: 'Gilroy-Light';
    font-size: 58px;
    text-decoration: none !important;
    margin: 0;
    padding: 1rem;
    p {
      margin: 0;
    }
  }
