.dropbtn {
  color: #fff;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.dropdown {
  position: absolute;
  top: 20px;
  right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  width: 150px;
  list-style: none;
  background-color: #222228;
  z-index: 1;
  font-family: 'Gilroy-Medium';
  text-transform: uppercase;
  letter-spacing: 2px;
  li {
    padding: 10px 20px;
    color: #fff !important;
  }
  li:hover {
    background-color: #FF3656;
    color: #fff !important;
  }
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  background: none !important;
}

.dropdown-content a:hover {

  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #fff;
}

.dropdown:hover .dropbtn {
  background-color: #222228;
}
