.progress {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  transform: rotate(-90deg) rotateX(180deg);
  height: auto;
  background-color: #222228;
}

.progress circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s ease;
    stroke-width: 8px;
}

.progress .bar {
  stroke: #000000;
  stroke-opacity: 0.5;
}

.progressdiv {
  position: relative;
}

.progressdiv:after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  font-family: 'Gilroy-Bold';
  transform: translate(-50%, -50%);
  content: attr(data-percent) "%";
}

